.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    height: 90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__logo {
    color: #34C759;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
}
.logo__icon {
margin-right: 10px;
}
.header_nav {
}
.nav__list {
}
.links-list {
    display: flex;
    gap: 45px;
}
.links-list__link {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family:  Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
.links-list__link:hover
{
    color: #34C759;
    transition: 0.4s;
}
