.landing {
    background-image: url(../img/header_icon/placeholder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contetnt__landing {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.landing__hedling {
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: normal;
    text-transform: capitalize;
}
.bolder {

    font-weight: 700;
}
.subhedling {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
    max-width: 580px;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.button {
    background-color: #34C759;
    padding: 25px 58px;
    color: black;
    border-radius: 43px;
    font-weight: 700;
    margin-bottom: 70px;
    text-decoration: none;
}
.landing__button {
    text-transform: capitalize;
    letter-spacing: 0.2em;
}
.landing__button:hover {
    transition: 0.4s;
    background-color: white;
}
.landing__row {
    display: flex;
    gap: 90px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 170px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.row__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item__img {
    margin-bottom: 16px;
}
.item__text {
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}
.item__subtext {
}